/* body{
  background-image: url("kb13u6hflxn01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */

.nav-bar{
  background-color: black;
}

.brand-logo{
  margin-left: 10px;
}

.parallax-container{
  height: 500px;
}

#hardware{
  height: 250px;
}

.parallax img{
  width: 100%;
}
.welcome{
  position: fixed;
  top: 20%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  //background-color: black;
}

#wel{
  color: white;
  font-family: Helvetica;
  font-size: 50px;
  font-style: italic;
}

.title{
  width: 100%;
  text-align: center;
}

#hardTitle{
  color: #eceff1;
  text-align: center;
}

.row{
  margin-top: 0px;
  padding-top: 0px;
}
.position{
  font-size: 40px;
  /* font-weight: bold; */
  color: #1b5e20
}
.time{
  text-align: right;
  font-size: 40px;
  /* font-weight: bold; */
  color: #26a69a
}

/* #bojan{
  color: white;
  font-family: Arial;
  margin: 0px;
  font-size: 100px;
}

#gav{
  color: white;
  font-family: Arial;
  margin: 0px;
  font-size: 120px;
  letter-spacing: -3px;
} */
