.nav-bar{
  background-color: transparent;
  position: absolute;
  z-index: 10;
  top: 0px;
}

.brand-logo{
  margin-left: 10px;
}

.parallax-container{
  height: 500px;
}

#hardware{
  height: 250px;
}

#software{
  height: 250px;
}


.parallax img{
  width: 100%;
}
.welcome{
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wel{
  color: white;
  font-family: Helvetica;
  font-size: 50px;
  font-style: italic;
}

.title{
  width: 100%;
  text-align: center;
}

#hardTitle{
  color: #eceff1;
  text-align: center;
  text-shadow: 2px 2px #212121;
  font-size: 60px;
}

.row{
  margin-top: 0px;
  padding-top: 0px;
}
.position{
  font-size: 25px;
  letter-spacing: -1px;
  color: #212121
}
.firstLetter{
  font-size: 30px;
}
.divider{
  border:2px solid green;
  height: 2px;
}
.time{
  text-align: right;
  font-size: 30px;
  color: #212121
}
.tasks{
  font-size: 20px;
  color: #212121;
}
.collapsible-header{
  font-size: 18px;
}
.project-header{
  font-weight: bold;
}
.resume-item{
  list-style-type: circle;
  margin-top: 10px;
}
.myName{
  font-weight: bold;
}
.publication{
  font-size: 18px;
}

.pdfBtn{
  color: white;
  right: 2%;
  top: 0;
  position: absolute;
  font-size: 20px;

}
